<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.kotlin.indonesiatrulyasia"
    android:targetSandboxVersion="1">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_costum_foreground"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_costum_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppViewPager">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MuseumActivity" />
        <activity
            android:name=".details.MuseumDetail"
            android:theme="@style/AppViewPager" />
        <activity android:name=".RegionsActivity" />
        <activity
            android:name=".details.RegionsDetail"
            android:theme="@style/AppViewPager" />
        <activity android:name=".CovidActivity" />
        <activity
            android:name=".details.CovidDetail"
            android:theme="@style/AppViewPager" />
        <activity
            android:name=".details.BatikDetail"
            android:theme="@style/AppViewPager" />
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".BatikActivity" />
    </application>

</manifest>